{% extends "base.html" %}

{% block navbar_form %}
  <form class="navbar-form navbar-right hidden-xs" method="post" role="search">
    <div class="form-group">
      <input type="text" name="query" class="form-control input-sm" disabled>
    </div>
    <button type="submit" class="btn btn-default btn-sm" disabled>
      Search
    </button>
  </form>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="//cdn.plyr.io/1.0.29/plyr.css">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
      <div class="thumbnail thumbnail-relative">
      {% if episode.thumb.startswith("http") %}
        <img src="{{ episode.thumb }}" class="img-responsive" alt="{{ episode.title }}">
      {% else %}
        <img src="{{ episode.thumb|urlencode }}" class="img-responsive" alt="{{ episode.title }}">
      {% endif %}
        <div class="caption caption-overlay">
          <strong>{{ episode.title }}</strong><br>
          <small class="text-muted">{{ episode.show }}</small>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <small>
            Season {{ episode.season }} / Episode {{ episode.episode }} / Aired {{ episode.aired|date }} /
            <a href="{{ url_for('get_episode_file', episode_id=episode.pk) }}">
              <i class="fa fa-download"></i>
            </a>
          </small>
        </div>
        <div class="panel-body">
        {% if episode.plot %}
          {{ episode.plot }}
        {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-5 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="player">
            <video poster="{{ episode.poster|urlencode }}" controls preload="metadata">
              <source src="{{ episode.video }}" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    (function(d,p){
      var a=new XMLHttpRequest(),
          b=d.body;
      a.open("GET",p,!0);
      a.send();
      a.onload=function(){
        var c=d.createElement("div");
            c.style.display="none";
            c.innerHTML=a.responseText;
            b.insertBefore(c,b.childNodes[0])}
    })(document,"//cdn.plyr.io/1.0.29/sprite.svg");
  </script>
  <script src="//cdn.plyr.io/1.0.29/plyr.js"></script>
  <script src="//cdn.plyr.io/1.0.29/docs.js"></script>
{% endblock %}
