{% extends "base.html" %}

{% block navbar_form %}
  <form class="navbar-form navbar-right hidden-xs" method="post" role="search">
    <div class="form-group">
      <input type="text" name="query" class="form-control input-sm">
    </div>
    <button type="submit" class="btn btn-default btn-sm">
      Search
    </button>
  </form>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
      <div class="thumbnail thumbnail-relative">
        <img src="{{ show.fanart }}" class="img-responsive" alt="{{ show.title }}">
        <div class="caption caption-overlay">
          <strong>{{ show.title }}</strong><br>
          <span class="text-muted">{{ show.studio }}</span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <small>Premiered {{ show.premiered|date }}</small>
        </div>
        <div class="panel-body">
          {{ show.plot|default('', true) }}
        </div>
        <div class="panel-footer">
          <small>{{ show.genre|default('', true) }}</small>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <small>Starring</small>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal dl-starring">
          {% for actor in show.actors %}
            <dt>{{ actor.name }}</dt>
            <dd>{{ actor.role|replace('|', ', ') }}</dd>
          {% endfor %}
          </dl>
        </div>
        <div class="panel-footer">
          <small>
            <a href="http://www.thetvdb.com/?tab=series&id={{ show.tvdb }}">
              TheTVDB
            </a>
          </small>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th><i class="fa fa-download"></i></th>
            <th>Title</th>
            <th class="hidden-xs hidden-sm">Plot</th>
            <th>Aired</th>
          </tr>
        </thead>
        <tbody>
        {% for episode in show.episodes %}
          <tr>
            <td>{{ episode.season }}/{{ episode.episode }}</td>
            <td>
              <a href="{{ url_for('get_episode_file', episode_id=episode.pk) }}">
                {{ episode.video_type }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('get_episode', episode_id=episode.pk) }}">
                {{ episode.title|truncate(32) }}
              </a>
            </td>
          {% if episode.plot %}
            <td class="hidden-xs hidden-sm">{{ episode.plot|truncate(64) }}</td>
          {% else %}
            <td class="hidden-xs hidden-sm"></td>
          {% endif %}
            <td>{{ episode.aired|date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
