{% extends "base.html" %}

{% block navbar_form %}
  <form class="navbar-form navbar-right hidden-xs" method="post" role="search">
    <div class="form-group">
      <input type="text" name="query" class="form-control input-sm">
    </div>
    <button type="submit" class="btn btn-default btn-sm">
      Search
    </button>
  </form>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
      <div class="thumbnail thumbnail-relative">
        <img src="{{ show.fanart }}" class="img-responsive" alt="{{ show.title }}">
        <div class="caption caption-overlay">
          <strong>{{ show.title }}</strong><br>
          <span class="text-muted">{{ show.studio }}</span>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <small>Premiered {{ show.premiered|date }}</small>
        </div>
        <div class="panel-body">
          {{ show.plot|default('', true) }}
        </div>
        <div class="panel-footer">
          <small>{{ show.genre|default('', true) }}</small>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <small>Starring</small>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal dl-starring">
          {% for actor in show.actors %}
            <dt>{{ actor.name }}</dt>
            <dd>{{ actor.role|replace('|', ', ') }}</dd>
          {% endfor %}
          </dl>
        </div>
        <div class="panel-footer">
          <small>
            <a href="http://www.thetvdb.com/?tab=series&id={{ show.tvdb }}">
              TheTVDB
            </a>
          </small>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12">
      <ul class="nav nav-pills" role="tablist">
      {% for season in range(show.seasons) %}
        {% if loop.first %}
        <li role="presentation" class="active">
        {% else %}
        <li role="presentation">
        {% endif %}
          <a href="#season{{ season + 1}}"
             aria-controls="season{{ season + 1 }}" role="tab"
             data-toggle="tab">Season {{ season +1 }}</a>
        </li>
      {% endfor %}
      </ul>
      <div class="tab-content">
      {% for season in range(show.seasons) %}
        {% if loop.first %}
        <div role="tabpanel" class="tab-pane active" id="season{{ season + 1}}">
        {% else %}
        <div role="tabpanel" class="tab-pane" id="season{{ season + 1}}">
        {% endif %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th><i class="fa fa-download"></i></th>
              <th><i class="fa fa-desktop"></i></th>
              <th>Title</th>
              <th class="hidden-xs hidden-sm">Plot</th>
              <th>Aired</th>
            </tr>
          </thead>
          <tbody>
          {% for episode in show.episodes %}
            {% if episode.season == season + 1 %}
            <tr>
                <td>{{ episode.season }}/{{ episode.episode }}</td>
              <td>
                <a href="{{ episode.video|urlencode }}">
                  {{ episode.video_type }}
                </a>
              </td>
              <td>
                <a href="{{ url_for('play_episode_tv', episode_id=episode.pk)}}">
                  TV
                </a>
              </td>
              <td>
                <a href="{{ url_for('get_episode', episode_id=episode.pk) }}">
                  {{ episode.title|truncate(32) }}
                </a>
              </td>
            {% if episode.plot %}
              <td class="hidden-xs hidden-sm">{{ episode.plot|truncate(64) }}</td>
            {% else %}
              <td class="hidden-xs hidden-sm"></td>
            {% endif %}
              <td>{{ episode.aired|date }}</td>
            </tr>
          {% endif %}
          {% endfor %}
          </tbody>
        </table>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
